$col-text-minor: #868686;

.contrib-container {
    ul {
        list-style: none;
        padding-left: 20px;
        white-space: nowrap;
        width: 270px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    color: rgb(59, 78, 78);
    color: #b4b4b4;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.section {
    margin: 15px;
}

.section-title {
    font-size: 24px;
}

svg.octicon {
    margin-right: 5px;
}

.dropdown {
    text-decoration: none !important;
    border: none;
    background-color: inherit;
    color: #007BFF;
    padding: 0;
    margin: 0;
    text-align: left;
    white-space: nowrap;
}

.github-activity-container {
    overflow: auto;
    max-height: 63vh;
    height: 100%;
    border: 1px solid #2c2c2c;
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.25);
    margin: 5px;
    padding: 10px 0 10px 0;
    background-color: #343435;
}

.github-throbber-container {

    .github-throbber {
        width: 120px;
        margin: auto;
        display: block;
    }
}