$col-text-minor: #868686;

.contrib-container {

}

.hidden {
    display: none;
}

.section {
    margin: 15px;
}

.section-title {
    font-size: 24px;
}

svg.octicon {
    margin-right: 5px;
}

.dropdown {
    text-decoration: none !important;
}