.nav-item.nav-link {
    background-color: $col-background !important;
    color: $col-text-pri !important;
    border-color: $col-border !important;

    &:hover {
        background-color: lighten($col-background, 30%) !important;
    }
}

.nav-item.nav-link.active {
    background-color: lighten($col-background, 20%) !important;
    color: $col-text-pri !important;
    border-color: $col-border !important;
}

.nav.nav-tabs {
    border: none;
}

.card {
    border: none !important;
}

.card-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: lighten($col-background, 7.5%);
    border: none;
}

.portfolio-header {
    .code {
        font-family: Consolas, monaco, monospace;
        color: $col-text-sec;
    }
    h1 {
        color: $col-text-pri;
        text-align: center;
    }
    h2 {
        color: $col-text-pri;
        text-align: center;
    }
    p {
        color: $col-text-sec;
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
    }
}

.portfolio-tab {
    border: 1px solid $col-border;
    background-color: lighten($col-background, 1%);
    padding: 20px;

    h1 {
        color: $col-text-pri;
        text-align: center;
        font-size: 130%;
        margin-bottom: 20px;
        color: $col-text-sec;
    }
    p {
        color: $col-text-sec;
        max-width: 600px;
        margin: 0 auto;
    }
}

.download-counter {
    color: #ff6d6d !important;
    margin-left: 15px !important;
}

@media (min-width: 500px) {
    .card-columns {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
    }
}

@media (min-width: 1000px) {
    .card-columns {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
    }
}

$icon-dim: 20px;

.tech-tag {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border: 1px solid lighten($col-border, 20%);
    background-color: lighten($col-background, 5%);
    color: $col-text-sec;
    border-radius: 5px;
}

.tech-tag-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: $icon-dim;
    width: $icon-dim;
    height: $icon-dim;
    transform: translateY(4px);
    margin: 0 5px 0 5px;
    border-radius: 5px;
}
.tech-tag-bootstrap {
    background-image: url(img/tech/bootstrap.png);
}
.tech-tag-csharp {
    background-image: url(img/tech/csharp.png);
}
.tech-tag-css {
    background-image: url(img/tech/css.png);
}
.tech-tag-discord {
    background-image: url(img/tech/discord.png);
}
.tech-tag-django {
    background-image: url(img/tech/django.png);
}
.tech-tag-html5 {
    background-image: url(img/tech/html5.png);
}
.tech-tag-javascript {
    background-image: url(img/tech/javascript.png);
}
.tech-tag-lua {
    background-image: url(img/tech/lua.png);
}
.tech-tag-monogame {
    background-image: url(img/tech/monogame.png);
}
.tech-tag-nodejs {
    background-image: url(img/tech/nodejs.png);
}
.tech-tag-python {
    background-image: url(img/tech/python.png);
}
.tech-tag-react {
    background-image: url(img/tech/react.png);
}
.tech-tag-reddit {
    background-image: url(img/tech/reddit.png);
}
.tech-tag-sass {
    background-image: url(img/tech/sass.png);
}
.tech-tag-unity {
    background-image: url(img/tech/unity.png);
}
.tech-tag-wow {
    background-image: url(img/tech/wow.png);
}
.tech-tag-xna {
    background-image: url(img/tech/xna.png);
}
.tech-tag-flask {
    background-image: url(img/tech/flask.png);
}
.tech-tag-runescape {
    background-image: url(img/tech/osrs.png);
}
